.timer
{
    position: relative;
    float:left;
    width:240px;
    margin:20px;
}

.timer, #newTimer
{
    position: relative;
    float: left;
    width: 240px;
    height: 142.7px;
    margin: 20px;
}

.newTimer 
{
    height: 138.7px;
    width: 138.7px;
    margin: 0;
    padding: 0;
}

.settings
{
    overflow-y: auto;
}

.tbuttonsTop
{
    position: absolute;
    margin: 0 0 0 94%;
}